flask
numpy
opencv-python
matplotlib
scikit-learn
jupyter
tensorflow
torch
torchvision
scipy
pandas
seaborn
scikit-image
# make sure to use python 3.10 or 3.11 since some packages like tensorflow are not compatible with versions above 3.11