<!DOCTYPE html>
<html>
<head>
    <title>Palm Vein Auth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2 class="text-center">Upload Palm Image</h2>
        <form action="/predict" method="POST" enctype="multipart/form-data" class="mt-4 text-center">
            <input type="file" name="file" required class="form-control mb-3">
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
    </div>
</body>
</html>
